/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*My code*/
/*Declaring some variables*/
:root {
  --grey-bgd: #F3F3F3;
  --grey-text: #494949;
  --black-bgd: #322E2E;
  --red-hover: #D40909;
}

* {
  text-decoration: none;
}

/*Styling for header
Notice the inline-flex
Flexbox contents: header-brand and nav*/
header {
  background-color: #FFF;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right 0;
  z-index: 999;
}

.menu-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("img/sidebar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.menu-btn:hover {
  opacity: 0.7;
}

/*Styling OLIVIER'S DEN*/
.header-brand {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: var(--grey-text);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  width: 200px;
  margin: 0 calc((100% - 280px)/2);
}

.header-welcome {
  display: none;
}

header nav ul {
  margin: 20px 0;
  text-align: center;
}

header nav ul li {
  display: inline;
  list-style: none;
  padding: 5px;
  text-align: center;
}

.li-about {
  border-left: 2px solid #E8E8E8;
  border-right: 2px solid #E8E8E8;
  padding: 4px 8px;
}

@media only screen and (min-width: 375px) {
  header nav ul li {
    padding: 15px;
  }

  .li-about {
    padding: 5px 25px;
  }
}

header nav ul li a {
  font-family: 'Roboto', sans-serif;
  color: var(--grey-text);
  font-size: 18px;
}

header nav ul li a:hover {
  color: var(--red-hover);
}

.open-menubar {
  display: block;
  background-color: var(--black-bgd);
  width: 100%;
  height: 0px;
  position: fixed;
  top: 100px;
  z-index: 999;
  transition: height 0.2s ease-in-out;
}

.open-menubar h2 {
  visibility: hidden;
  color: #CCC;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  margin: 10px;
  transition: all 0.15s ease-in;
}

.open-menubar section a {
  visibility: hidden;
  display: inline-block;
  font-family: Catamaran;
  font-weight: 100;
  text-align: center;
  color: #FFF;
  margin: 10px;
  padding: 10px 0;
  width: 10em;
  border: 1px solid #15ff67;
  border-radius: 20px;
  transition: border 0.5s ease-out, visibility 0.15s ease-in;
}

.open-menubar section a:hover {
  border-color: #203aff;
}

.banner {
  display: none;
}

main {
  background-color: #E8E8E8;
  padding-top: 100px;
}

.wrapper {
  padding-bottom: 20px;
}

.wrapper a {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto;
  position: relative;
}

.wrapper a h2 {
  font-family: Catamaran;
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
  font-size: 24px;
  text-shadow: 2px 2px 7px #000;
  color: #FFF;
  z-index: 2;
  transition: 0.4s step-start;
}

.wrapper a img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: .05s ease-in-out;
}

.wrapper a:hover img {
  filter: blur(2px);
}

.wrapper a:hover h2 {
  font-size: 25px;
}

.skills-icons {
  background-color: #707070;
  width: 100%;
  height: 200px;
  margin auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  background-image: url("img/texture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.skills-icons::before {
  content: "MY LATEST SKILLS";
  width: 100%;
  font-family: Catamaran;
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px 8px #000;
}

.skills-icons img {
  width: 50px;
  height: 50px;
}

/*Styling footer*/
footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

footer section {
  display: flex;
  flex-flow: column wrap;
  padding: 30px 0;
}

footer section a {
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;
  font-size: 14px;
  color: var(--grey-text);
}

footer section h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--grey-text);
}

.footer-projects a {
  width: 10em;
  font-size: 12px;
}

.footer-icons {
  position: relative;
}

.footer-icons a {
  transition: 0.3s ease-in-out;
}

.footer-icons a img {
  width: 20px;
  height: 20px;
}

.footer-icons a p {
  position: absolute;
  color: var(--black-bgd);
  font-weight: 700;
  right: 25px;
  display: none;
  padding-top: 2px;
}

.footer-icons a:hover p {
  display: block;
}

footer section a:hover {
  color: var(--red-hover);
}

@media only screen and (min-width: 700px) {
  header nav ul li {
    padding: 0 50px;
  }

  .li-about {
    border-style: none;
  }

  .wrapper a {
    width: 90%;
    margin: 10px auto;
  }
}

@media only screen and (min-width: 900px) {

  .menu-btn {
    margin-top: 40px;
  }

  /*Styling OLIVIER'S DEN*/
  .header-brand {
    border-right: 2px solid #111;
    margin: 35px 0 0 30px;
    padding-right: 30px;
  }

  .header-welcome {
    display: inline;
    font-family: 'Pacifico', cursive;
    color: var(--grey-text);
    margin-left: 50px;
  }

  header nav {
    display: none;
  }

  main {
    background-color: #FFF;
  }

  .banner {
    display: block;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
  }

  .banner h2 {
    padding: 200px 0;
    margin: auto;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px 8px #000;
  }

  .wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    transition: 0.3s ease-in;
  }

  .wrapper a {
    width: 45%;
    height: 380px;
    padding: 10px;
    margin: 0;
  }

  .wrapper:hover {
    /*background-color: #FFEAD4;*/
    background-color: #E8E8E8;
  }

  footer {
    transition: 0.8s ease-in;
  }

  footer:hover {
    background-color: var(--grey-bgd);
  }
}

@media only screen and (min-width: 1700px) {
  .wrapper {
    height: 1000px;
  }

  .wrapper a {
    width: 35%;
    height: 480px;
  }
}
